{% extends 'layout.html.twig' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" name="enviar" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios
            </button>
            <a href="{{ path('listar_usuarios') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

